<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E- Ayushman Bharat Patient Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"
    integrity="sha256-srhz/t0GOrmVGZryG24MVDyFDYZpvUH2+dnJ8FbpGi0=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        body {
    padding: 0px;
    /* background: linear-gradient(to right, #ffb58a, #6cb4fc); */
}
body {
  transition: all 0.3s ease;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: red;
  margin: 50px;
}
.prescription_form {
  width: 100%;
  height: 100vh;

  background: white;
}
.prescription {
  width: 720px;
  height: 960px;
  margin: 0 auto;
  border: 1px solid lightgrey;
}
.prescription tr > td {
  padding: 15px;
}
.header {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 1;
}
.logo img {
  width: 120px;
  height: 120px;
  float: left;
}
.credentials {
  flex: 1;
}
.credentials h4 {
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.credentials p {
  margin: 0 0 5px 0;
  padding: 3px 0px;
}
.credentials small {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-right: 80px;
}
.d-header {
  width: 100%;
  text-align: center;
  background: mediumseagreen;
  padding: 5px;
  color: white;
  font-weight: 800;
}
.symptoms,
.tests,
.advice {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.symptoms ul,
.tests ul {
  list-style: square;
  margin: 0;
  padding-left: 10px;
  height: 100%;
}
.advice p {
  letter-spacing: 0;
  font-size: 14px;
}
.advice .adv_text {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.desease_details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.med_name {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}
.taking_time {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.schedual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sc_time {
  margin: 0;
  padding: 0;
  float: left;
}
.sc_time span {
  font-weight: bold;
  margin-right: 1rem;
}
.sc {
  border: none;
  outline: none;
  font-size: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  font-size: 15px;
  color: #335;
  position: relative;
  float: left;
  overflow: hidden;
}
select {
  font-weight: bold;
  padding: 0 0.5em;
  color: #333;
  cursor: pointer;
  outline: none;
}
.med_name {
  border: 0;
  outline: 0;
}
.period {
  font-size: 14px;
}
input[type="date"] {
  padding: 0;
  margin: 0;
  font-weight: bold;
  border: none;
}
.medicine {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.med_name_action,
.med_when_action,
.med_period_action {
  display: none;
}
.med_meal_action .btn {
  margin: 2px;
}
.med_period {
  border: none;
  outline: none;
}
#add_med {
  margin: 20px 5px;
  flex-grow: 1;
}
#add_med {
  animation: shake 1.5s linear infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  95% {
    opacity: 0;
  }
}

#add_symptoms {
  margin: 20px 5px;
  flex-grow: 1;
  opacity: 1;
}
.symp_action,
.test_action,
.adv_action {
  display: none;
}
.med_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
hr {
  margin: 10px 0px;
}
.med:hover hr {
  border-top: 3px #111 solid;
}
.med_period_action {
  float: right;
}
span.date {
  color: #333399;
  float: right;
  clear: both;
}
.del_action {
  width: 100%;
  text-align: right;
}
.delete {
  width: 50px;
  opacity: 0;
  display: none;
}
.med:hover .delete {
  display: inline;
  opacity: 1;
}
.folded {
  visibility: hidden;
}
.button_group {
    position: fixed;
    right: 120px;
    bottom: 100px;
}
#snacking, #snacked {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snacking.show, #snacked.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: #fff; /* Maintain white background for cards */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 2rem;
    color: #007bff;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

/* Animation for table rows */
table tr:nth-child(odd) {
    animation: animateRow 0.5s ease-in-out forwards;
}

@keyframes animateRow {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #28842e;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}


/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



    </style>
</head>
<body>

    <div class="container1">
        <div class="navigation">
            <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
        
                            </span>
                            <!-- Replace "Brand Name" with your logo -->
                            <!-- <img src="logo-101.png" alt="Logo" style="width: 100px; height: 60px;"> -->
                      <img src="/images/logo.png" alt="E Ayushman Bharat Logo" width="50%" height="50%">


                        </a>
                    </li>

                <li>
                    <a href="/api/auth/doctorhome">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="./consultpatient">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Consult Now</span>
                    </a>
                </li>

                <li>
                    <a href="./pastconsultdoctor">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Past Consultations</span>
                    </a>
                </li>

                <li>
                    <a href="./doctorprofile">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

              <!--  <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div> -->

                <div class="user">
                    <img src="customer1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <header class="mb-4">
            <h2>E- Ayushman Bharat Doctor Dashboard</h2>
        </header>
        

        
<div class="wrapper">
    <div class="prescription_form">
        <table class="prescription" data-prescription_id="<?php echo $presc->prescription_id; ?>" border="1">
            <tbody>
                <tr height="15%">
                    <td colspan="2">
                        <div class="header">
                            <div class="logo">
                                <img
                                    src="https://seeklogo.com/images/H/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png" />
                            </div>
                            <div class="credentials">
                                <h4><%= user.full_name %></h4>
                                <p>Chamber Name</p>
                                <small><%= user.address %></small>
                                <br />
                                <small><%= user.mobile %></small>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="desease_details">
                            <div class="symptoms">
                                <h4 class="d-header">Symptoms</h4>
                                <ul class="symp" data-toggle="tooltip" data-placement="bottom" title="Click to edit."
                                    contenteditable="true">
                                </ul>
                                <div class="symp_action">
                                    <button id="symp_save" data-prescription_id="<?php echo $presc->prescription_id; ?>" class="btn btn-sm btn-success save">Save</button>
                                    <button class="btn btn-sm btn-danger cancel-btn">Cancel</button>
                                </div>
                            </div>
                            <div class="tests">
                                <h4 class="d-header">Tests</h4>
                                <ul class="tst" data-toggle="tooltip" data-placement="bottom" title="Click to edit."
                                    contenteditable="true">
                                </ul>
                                <div class="test_action">
                                    <button id="test_save" data-prescription_id="<?php echo $presc->prescription_id; ?>" class="btn btn-sm btn-success save">Save</button>
                                    <button class="btn btn-sm btn-danger cancel-btn">Cancel</button>
                                </div>
                            </div>
                            <div class="advice">
                                <h4 class="d-header">Advice</h4>
                                <p class="adv_text" style="outline: 0;" data-toggle="tooltip"
                                    data-placement="bottom" title="Click to edit." contenteditable="true">
                                </p>
                                <div class="adv_action">
                                    <button id="adv_save" data-prescription_id="<?php echo $presc->prescription_id; ?>" class="btn btn-sm btn-success save">Save</button>
                                    <button class="btn btn-sm btn-danger cancel-btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="60%" valign="top">
                        <span style="font-size: 3em;">R<sub>x</sub></span>
                        <hr />
                        <div class="medicine">
                            <section class="med_list">
                            </section>
                            <div id="add_med" data-toggle="tooltip" data-placement="right"
                                title="Click anywhere on the blank space to add more.">Click to add...</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button_group">
            <button class="issue_prescription btn btn-success">Issue</button>
            <!-- <button class="pdf_prescription btn btn-danger">PDF</button> -->
        </div>
        <div id="snacking">Saving...</div>
        <div id="snacked">Saved!</div>
    </div>
</div>

<script id="new_medicine" type="text/template">
    <div class="med">
        &#9899; <input class="med_name" data-med_id="{{med_id}}" data-toggle="tooltip"
            title="Click to edit..." placeholder="Enter medicine name"/>
        <div class="med_name_action">
            <button data-med_id="{{med_id}}" class="btn btn-sm btn-success save">Save</button>
            <button class="btn btn-sm btn-danger cancel-btn">Cancel</button>
        </div>
        <div class="schedual">
            <div class="sc_time folded">
                <select class="sc" data-med_id="{{med_id}}">
                  <option value="1+1+1" selected>1+1+1</option>
                  <option value="1+0+1">1+0+1</option>
                  <option value="0+1+1">1+1+1</option>
                  <option value="1+0+0">1+1+1</option>
                  <option value="0+0+1">1+1+1</option>
                  <option value="1+1+1+1">1+1+1+1</option>
                </select>
                <div class="med_when_action">
                    <button data-med_id="{{med_id}}"
                        class="btn btn-sm btn-success save">&check;</button>
                </div>
            </div>
            <div class="taking_time select folded">
                <select class="meal" data-med_id="{{med_id}}">
                    <option value="1" selected>After Meal</option>
                    <option value="2">Before Meal</option>
                    <option value="3">Take any time</option>
                </select>
                <div class="med_meal_action">
                    <button data-med_id="{{med_id}}"
                        class="btn btn-sm btn-success save">&check;</button>
                </div>
            </div>
        </div>
        <div class="med_footer">
            <div class="period folded">
                Take for <input class="med_period" type="text" data-med_id="{{med_id}}"
                    placeholder="? days/weeks..." />
                <div class="med_period_action">
                    <button data-med_id="{{med_id}}"
                        class="btn btn-sm btn-success save">&check;</button>
                </div>
                <span class="date"></span>
            </div>
            <div class="del_action">
                <button data-med_id="{{med_id}}" class="btn btn-sm btn-danger delete"><i class="fa fa-trash"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <hr />
    </div>
</script>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>

    <!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    // Replace with your actual database connection and query logic
function fetchDashboardData() {
    // Fetch data from database
    const totalConsultations = 10; // Placeholder value
    const pendingConsultations = 5; // Placeholder value
    const completedConsultations = totalConsultations - pendingConsultations;

    // Update card values
    document.getElementById("total-consultations").innerText = totalConsultations;
    document.getElementById("pending-consultations").innerText = pendingConsultations;
    document.getElementById("completed-consultations").innerText = completedConsultations;

    // Fetch past consultations data (replace with actual data)
    const pastConsultations = [
        {
            id: 1,
            date: "2024-02-16",
            patientName: "John Doe",
            doctorName: "Dr. Jane Smith",
            status: "Completed"
        },
        // Add more past consultations objects 
    ];

}

// add hovered class to selected list item
let list = document.querySelectorAll(".navigation li");

function activeLink() {
  list.forEach((item) => {
    item.classList.remove("hovered");
  });
  this.classList.add("hovered");
}

list.forEach((item) => item.addEventListener("mouseover", activeLink));

// Menu Toggle
let toggle = document.querySelector(".toggle");
let navigation = document.querySelector(".navigation");
let main = document.querySelector(".main");

toggle.onclick = function () {
  navigation.classList.toggle("active");
  main.classList.toggle("active");
};
</script>

</body>
</html>

<script>
    $(document).ready(function() {
	Date.prototype.calcDate = function(days) {
		let date = new Date(this.valueOf());
		date.setDate(date.getDate() + days);
		return `(Untill ${date.getUTCDate()}-${date.getUTCMonth() +
			1}-${date.getUTCFullYear()})`;
	};
  let timeout;
	function snackSaving() {
		let snack = document.getElementById("snacking");
		snack.className = "show";
    timeout = setTimeout(() => {
      alert('ERR: Conection timeout.')
    }, 8000);
	}
	function snackSaved() {
    clearTimeout(timeout);
		let snack = document.getElementById("snacking");
		snack.className = snack.className.replace("show", "");
		let snacked = document.getElementById("snacked");
		snacked.className = "show";
		setTimeout(function() {
			snacked.className = snacked.className.replace("show", "");
		}, 1500);
	}
	$("[data-toggle=tooltip]").tooltip("show");
	setTimeout(function() {
		$("[data-toggle=tooltip]").tooltip("hide");
	}, 5000); //hide tooltips after 5sec
	$(document).keyup(function() {
		$("[data-toggle=tooltip]").tooltip("hide");
	}); //hide tooltip while typing
	$(document).on("focusin keypress", ".med_name", function(e) {
		let x = $(this).siblings("div.med_name_action");
		if (e.type == "focusin") {
			x.css("display", "block");
		}
		if (e.type == "keypress") {
			if (e.keyCode == 13) x.children("button.save").click();
		}
	});

	$(document).on("click", ".cancel-btn", function() {
		$(this)
			.parent()
			.css("display", "none"); //hides save/cancel btn
	});
	$(document).on("click", ".med_name_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".sc_time").removeClass("folded");
	});
	$(".med_name").keypress(function(e) {
		if (e.which == 13) {
			$("#symp_save").click();
		}
	});

	$(document).on("mousedown", ".sc", function(e) {
		let x = $(this).siblings("div.med_when_action");
		x.css("display", "block");
	});
	$(document).on("click", ".med_when_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".select").removeClass("folded");
	});
	$("select.sc").change(function() {
		let x = $(this).siblings("div.med_when_action");
		x.css("display", "none");
	});

	$(document).on("mousedown", ".meal", function() {
		let x = $(this).siblings("div.med_meal_action");
		x.css("display", "block");
	});
	$(document).on("click", ".med_meal_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".period").removeClass("folded");
	});

	$(document).on("focusin keypress", ".med_period", function(e) {
		let x = $(this).siblings("div.med_period_action");
		if (e.type == "focusin") {
			x.css("display", "block");
		}
		if (e.type == "keypress") {
			if (e.keyCode == 13) x.children("button.save").click();
		}
	});
	$(document).on("click", ".med_period_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
	});
	$(document).on("keyup", ".med_period", function() {
		let period = $(this).val();
		let num = +period.match(/\d+/g)[0];
		let type = period.match(/\b(\w)/g)[1];
		let days = null;
		if (type == "d") days = num;
		else if (type == "w") days = num * 7;
		else if (type == "m") days = num * 30;
		else if (type == "y") days = num * 365;
		let span = $(this).siblings("span.date");
		if (days) {
			let date = new Date().calcDate(days);
			span.html(date);
		} else {
			span.html("(Invalid time period)");
		}
	});

	$(".sc").keyup(function(e) {
		if (isNaN(e.key)) return;
		let el = $(this);
		el = el
			.val()
			.split("-")
			.join("");
		let finalVal = el.match(/.{1,1}/g).join("-");
		$(this).val(finalVal);
	});
	function initLi(e) {
		let txt = e.target.innerHTML;
		if (!txt.includes("<li>")) {
			let el = "<li></li>";
			$(this).append(el);
		}
	}
	$(".symptoms ul").focusin(initLi);
	$(".symptoms ul").keyup(function(e) {
		let fl = $(this)
			.children()
			.first();
		let el = `<li>${e.target.textContent}</li>`;
		if (fl.text().length < 1) {
			$(this).html("");
			$(this).append(el);
		}
	});
	$("#symp_save").click(function() {
		$(".symp_action").css("display", "none");
	});

	$(".tests ul").focusin(initLi);
	$(".tests ul").keyup(function() {
		let fl = $(this)
			.children()
			.first();
		let el = "<li></li>";
		if (fl.text().length < 1) {
			$(this).html("");
			$(this).append(el);
		}
	});
	$("#test_save").click(function() {
		$(".test_action").css("display", "none");
	});

	$(".symptoms ul").focusin(function() {
		$(".symp_action").css("display", "block");
	});

	$(".tests ul").focusin(function() {
		$(".test_action").css("display", "block");
	});

	$(".advice p").focusin(function() {
		$(".adv_action").css("display", "block");
	});

	$("#adv_save").click(function() {
		$(".adv_action").css("display", "none");
	});
	
	$(document).on("click", ".delete", function() {
		let parent = $(this).closest(".med");
		parent.remove();
	});
	
	let med_id = 1;
	$("#add_med").click(function() {
		med_id++;
		let sourceTemplate = $("#new_medicine").html();
		Mustache.parse(sourceTemplate);
		let sourceHTML = Mustache.render(sourceTemplate, { med_id });
		let medicine = $(".med_list");
		medicine.append(sourceHTML);
	})
});
</script>